---
teststeps: &teststeps
  working_directory: ~/proj
  steps:
    - checkout
    - run: $EMACS --version | tee .emacsversion
    - restore_cache:
        keys:
          - v1-repo-packages-{{ checksum ".emacsversion" }}-{{ .Branch }}-
          - v1-repo-packages-{{ checksum ".emacsversion" }}-
    - run:
        name: Install packages
        command: |
          set -v
          make --debug=b packages
          touch .packages.hash
          if [ -d ~/proj/packages ]; then
              ls -laR ~/proj/packages > .packages.hash
          fi
    - save_cache:
          key: v1-repo-packages-{{ checksum ".emacsversion" }}-{{ .Branch }}-{{ checksum ".packages.hash" }}
          paths:
            - ~/proj/packages
    - run:
        name: Test
        command: |
          set -v
          make check
    - store_test_results:
        path: ~/proj/test_results
    - store_artifacts:
        path: ~/proj/test_results

version: 2
jobs:
  emacs_master:
    docker:
      - image: silex/emacs:master-dev
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_26.0.91:
    docker:
      - image: olanilsson/emacs-ci:26.0.91
    environment:
      - EMACS: /opt/emacs/26.0.91/bin/emacs
    <<: *teststeps
  emacs_25.3:
    docker:
      - image: olanilsson/emacs-ci:25.3
    environment:
      - EMACS: /opt/emacs/25.3/bin/emacs
    <<: *teststeps
  emacs_25.2:
    docker:
      - image: olanilsson/emacs-ci:25.2
    environment:
      - EMACS: /opt/emacs/25.2/bin/emacs
    <<: *teststeps
  emacs_25.1:
    docker:
      - image: olanilsson/emacs-ci:25.1
    environment:
      - EMACS: /opt/emacs/25.1/bin/emacs
    <<: *teststeps
  emacs_24.5:
    docker:
      - image: olanilsson/emacs-ci:24.5
    environment:
      - EMACS: /opt/emacs/24.5/bin/emacs
    <<: *teststeps
  emacs_24.4:
    docker:
      - image: olanilsson/emacs-ci:24.4
    environment:
      - EMACS: /opt/emacs/24.4/bin/emacs
    <<: *teststeps
  emacs_24.3:
    docker:
      - image: olanilsson/emacs-ci:24.3
    environment:
      - EMACS: /opt/emacs/24.3/bin/emacs
    <<: *teststeps
  deploy:
    docker:
      - image: olanilsson/emacs-ci:25.3
    environment:
      - EMACS: /opt/emacs/25.3/bin/emacs
    steps:
      - checkout
      - run:
          name: Deploy
          command: |
            if [ ${CIRCLE_BRANCH} = master ]; then
                ci/publish.sh -v -c -u "Ola Nilsson" -e "ola.nilsson@gmail.com" ert-junit.el
            else
                ci/publish.sh -P -v -c -u "Ola Nilsson" -e "ola.nilsson@gmail.com" ert-junit.el
            fi

workflows:
  version: 2
  build_and_test:
    jobs:
      - emacs_master
      - emacs_26.0.91
      - emacs_25.3
      - emacs_25.2
      - emacs_25.1
      - emacs_24.5
      - emacs_24.4
      - emacs_24.3
      - deploy:
          requires:
            - emacs_master
            - emacs_26.0.91
            - emacs_25.3
            - emacs_25.2
            - emacs_25.1
            - emacs_24.5
            - emacs_24.4
            - emacs_24.3
  weekly:
    triggers:
      - schedule:
          # Run on Saturdays at 15:00 UTC
          cron: "15 0 * * 6"
          filters:
            branches:
              only:
                - master
    jobs:
      - emacs_master
      - emacs_26.0.91
      - emacs_25.3
      - emacs_25.2
      - emacs_25.1
      - emacs_24.5
      - emacs_24.4
      - emacs_24.3
