---
teststeps: &teststeps
  working_directory: ~/proj
  steps:
    - checkout
    - run:
        name: Test
        command: |
          set -v
          $EMACS --version
          make check
    - store_test_results:
        path: ~/proj/test-results
    - store_artifacts:
        path: ~/proj/test-results

version: 2
jobs:
  emacs_master:
    docker:
      - image: olanilsson/emacs:master-alpine-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_26.2:
    docker:
      - image: olanilsson/emacs:26.2-alpine-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_26.1:
    docker:
      - image: olanilsson/emacs:26.1-alpine-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_25.3:
    docker:
      - image: olanilsson/emacs:25.3-alpine-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_25.2:
    docker:
      - image: olanilsson/emacs:25.2-alpine-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_25.1:
    docker:
      - image: olanilsson/emacs:25.1-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_24.5:
    docker:
      - image: olanilsson/emacs:24.5-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_24.4:
    docker:
      - image: olanilsson/emacs:24.4-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_24.3:
    docker:
      - image: olanilsson/emacs:24.3-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  emacs_23.4:
    docker:
      - image: olanilsson/emacs:23.4-ci
    environment:
      - EMACS: emacs
    <<: *teststeps
  deploy:
    docker:
      - image: olanilsson/emacs:26.1-alpine-ci
    environment:
      - EMACS: emacs
    steps:
      - checkout
      - run:
          name: Deploy
          command: |
            if [ ${CIRCLE_BRANCH} = master ]; then
                make publish
            else
                make publish-test
            fi

workflows:
  version: 2
  build_and_test:
    jobs:
      - emacs_master
      - emacs_26.2
      - emacs_26.1
      - emacs_25.3
      - emacs_25.2
      - emacs_25.1
      - emacs_24.5
      - emacs_24.4
      - emacs_24.3
      - emacs_23.4
      - deploy:
          requires:
            - emacs_master
            - emacs_26.2
            - emacs_26.1
            - emacs_25.3
            - emacs_25.2
            - emacs_25.1
            - emacs_24.5
            - emacs_24.4
            - emacs_24.3
            - emacs_23.4
  weekly:
    triggers:
      - schedule:
          # Run on Saturdays at 15:00 UTC
          cron: "15 0 * * 6"
          filters:
            branches:
              only:
                - master
    jobs:
      - emacs_master
      - emacs_26.2
      - emacs_26.1
      - emacs_25.3
      - emacs_25.2
      - emacs_25.1
      - emacs_24.5
      - emacs_24.4
      - emacs_24.3
      - emacs_23.4
